*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container h2{
    padding: 10px 25px;
    border: 2px solid #f9ab30;
    background-color: black;
    color: white;
}

span{
    color: #f29a0c;
}

.body-container img{
    width: 400px;
}


/* NAVBAR */


.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333 ;
    width: 100%;
    padding: 5px 100px;
    text-align: center;
}

.nav-container .nav-start{
    text-align: center;
}

.nav-container .nav-start a{
    text-decoration: none;
    text-align: center;
    color: white;
}

.nav-container .nav-start a img{
    width: 100px;
}

.nav-container .nav-middle a{
    margin: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: white;
}

.nav-container .nav-end button{
    padding: 10px 25px;
    background: #f29a0c;
    font-weight: 600;
    border: none;
}

#menu-bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
 }





@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px)
 {
    .nav-container{
        padding: 2rem;
    }

    /* section{
        padding: 2rem;
    } */
 }

 @media (max-width:768px)
 {
    #menu-bar{
        display: initial;
        
    }

    .nav-container{
        background: #333;
    }

    .nav-container .nav-start img{
        display: none;
    }

    .nav-container .nav-middle{
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #333;
        border-top: .1rem solid rgba(255,255,255,.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .nav-container .nav-middle.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .nav-container .nav-middle a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }
 }

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading span{
        font-size: 2.5rem;
    }
}